page-login {
  .content{
    background-color: color($colors, primary);
  }
  .container {
    z-index: 1;
  }
  .item {
    ion-card-header{
      text-align: center;
    }
    button{
      display: inline-block;
    }
  }
  .logo{
    margin-top: 5%;
    display: inline-block;
    height: 100px;
    width: 100px;
  }
}
