page-login {
  .content{
    background-color: color($colors, primary);
  }
  .container {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
  }
  .box {
    img {
    margin-top: 1em;
    }
    padding: 1em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    width: 100%;
    min-height: 100%;
    z-index: 2;
    text-align: center;  }
  .logo{
    display: inline-block;
    height: 50px;
    width: 50px;
  }
}
